*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import "header";
@import "nav";
@import "footer";

/*INDEX*/

/*MAIN*/
.main__index
{
    font-family: 'Volkhov', serif; 
    font-style: italic;
    margin-top: 130px;
    grid-area: main;

    .h2__index
    {
    text-align: center;
    margin-top: 10px;
    }
    
    .section__img
    {
        height: 300px;
        width: 250px;
        margin-bottom: 20 px;
        margin-left: 20px;
        margin-top: 20px;
        padding: 10px ;
    }
    
    .section__img__index
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .img__1
    {
    margin-left: auto;
    }
    
    .img__2
    {
        margin-right: 90px;
        margin-left: 20px;
    }
    
    .img__3
    {
       margin-right: auto
    }
    
    .section__p__index
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content:space-between;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

} 